.app {
    background: #f1f1f1;
    display:grid;
    grid-template-areas: 
    "encabezado"
    "contenido"
    "rodapie";
    grid-template-columns: auto;/*calcula el tamañ total del navegador*/
    grid-template-rows: 50px 100vh auto  ;

    
}

.encabezado{
    grid-area: encabezado;
    align-items: center;
    display: flex;
    padding: 0 2rem;
    
}

.menu__link{
    color:#333333;
    padding:.5rem 1rem;
}

.contenido {
    grid-area: contenido;
}

.rodapie { 
    grid-area: rodapie;
    
}